<div class="h4 mt-4"><%= record.title %></div>

<!--<div class="card">-->
<!--    <div class="card-header">-->
<!--        It's just temporary card with values-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--        <p class="card-text"><%= JSON.stringify(record) %></p>-->
<!--    </div>-->
<!--</div>-->

<div class="row">
    <div class="col"><b>Автор:</b> <%= record.user.name %></div>
</div>
<div class="row">
    <div class="col-6"><b>Дата создания:</b> <%= moment(record.created_date).format('HH:mm DD/MM/YYYY') %></div>
    <div class="col-6"><b>Дата обновления:</b> <%= moment(record.edited_date).format('HH:mm DD/MM/YYYY') %></div>
</div>
<% for (const item of record.items) { %>
    <% if (item.model_item.type === 'multi_select') { %>
        <% const value = JSON.parse(item.value) %>
        <div class="row">
            <div class="col"><b><%= item.model_item.name %>:</b>
                <% for (const v of value) { %>
                    <span class="badge bg-secondary"><%= v %></span>
                <% } %>
            </div>
        </div>
    <% } else { %>
        <div class="row">
            <div class="col"><b><%= item.model_item.name %>:</b> <%= item.value %></div>
        </div>
    <% } %>
<% } %>